body {
  margin: 0;
  color: rgb(110, 107, 107);
}

.container {
  background: rgb(125, 212, 231);
  background: linear-gradient(
    156deg,
    rgba(125, 212, 231, 1) 0%,
    rgba(254, 254, 255, 1) 81%,
    rgba(204, 209, 203, 1) 100%
  );
  font-family: Poppins, sans-serif;
  display: flex;
  overflow-x: hidden;
  border-left: 7px solid white;
  height: 100vh;
}

#logo {
  width: 38px;
  height: 38px;
  margin: 5px 0 0 5px;
  position: sticky;
  top: 10px;
  left: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 14px;
}
#rightContainer {
  width: 65%;
  margin-left: 15px;
}

#rightBox {
  background-image: url(./assets/rightboximage.svg);
  background-size: 100% 100%;
  width: 35%;
  position: relative;
  right: -5%;
}

.registrationForm {
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  background-color: white;
  padding: 26px;
  border-radius: 5px;
}

.registrationForm > div:nth-child(2) {
  width: 60px;
  height: 2px;
  background-color: #7dd4e7;
  margin-bottom: 10px;
}
.inputParent {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputParent > input {
  margin-top: 5px;
  min-height: 30px;
  font-size: 0.8rem;
}

.inputParent > label {
  font-weight: 600;
}

#message {
  margin-top: 10px;
  min-height: 60px;
}
#country {
  margin-top: 10px;
  min-height: 40px;
  width: 100%;
}

.inputParent > input:focus {
  outline: 2px solid #7dd4e7;
  border: none;
}

#message:focus {
  outline: 2px solid #7dd4e7;
  border: none;
}

.errorMessage {
  margin-top: 5px;
  color: red;
  font-size: 15px;
  display: none;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
#submitButton {
  background-color: #7dd4e7;
  color: white;
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 10px 0 0 5px;
  font-weight: 700;
}

@media (max-width: 750px) {
  #rightBox {
    display: none;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo {
    position: relative;
  }
}
